
<div class="view-container">
    <form>
        <input type="text" id="searchField" placeholder="search info" />
        <button clasS="btn btn-default" data-bind='click: search' type="submit">
            Search
        </button>
        <br />
        <div data-bind='simpleGrid: results'> </div>
    </form>
</div>
@section scripts
{
<script>
    var apiKey = "@ViewBag.SearchKey";
    var apiVersion = "2016-09-01";
    var searchIndexUrl = "https://" + "@ViewBag.SearchResourceName" + ".search.windows.net/indexes/beer/docs/search?api-version=" + apiVersion;
    var viewModel = new SearchViewModel();

    function search() {

        var client = AzureSearch({
            url: "https://" + "@ViewBag.SearchResourceName" + ".search.windows.net",
            key: apiKey, 
            version: apiVersion
        });
        //'beerType'
        client.search('beer', { search: $("#searchField").val(), top: 100, facets:['beerType'], orderby:'rate desc, quantityPercen desc' }, function (err, results) {
            // optional error, or an array of matching results 
            viewModel.results.data(results);
        });
    }

    function SearchViewModel() {
        this.totalHits = ko.observable();
        this.results = new ko.simpleGrid.viewModel({
            data: ko.observableArray([]),
            columns: [
                { headerText: "Beer", rowText: "beerName" },
                { headerText: "Brewery", rowText: "brewery" },
                { headerText: "Price", rowText: function (item) { return "$" + item.price.toFixed(2) } },
                { headerText: "Type", rowText: "beerType" },
                { headerText: "Rate", rowText: "rate" },
                { headerText: "Stand", rowText: "stand" },
                { headerText: "Avaible Liters", rowText: "quantityPercen" }
            ],
            pageSize: 25
        });
    }

    $(function () {
        ko.applyBindings(viewModel);
        $.ajaxSetup({ traditional: true });
        $("#searchField").focus();
    })
</script>
}
